<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Donor's form</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <style >
    input[type="radio"]{
      margin-left: 40px
      };}
</style>
</head>


<!-- Navigation Bar Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blood Donation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/check">Find Me a Location</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- Navigation Bar Code -->
<body>
<div class="container">
  <br>
  <h2>Blood Donation Form</h2>
  <form action="" method="POST" role="form">
      <!-- { { form.csrf }} -->
      <div class="form-group">
          <br>
          <label for="Gender" >Gender:</label>
          <br>
          <input type="radio" name="gender" value="Female" required> Female
          <input type="radio" name="gender" value="Male"> Male
          <input type="radio" name="gender" value="Other"> Other
          <br> <br>
          <label for="Age">Age:</label>
          <input type="number" class="form-control" name="Age" size="50" required>
          <br>
          <label for="Weight">Weight:</label>
          <input type="number" class="form-control"name="Weight" placeholder="in lbs" required>
          <br>


          <label for="BloodType">Blood Type:</label>
          <br>
          <input type="radio" name="bloodType" value="A+" required> A+
          <input type="radio" name="bloodType" value="A-"> A-
          <input type="radio" name="bloodType" value="B+"> B+
          <input type="radio" name="bloodType" value="O+"> O+
          <input type="radio" name="bloodType" value="O-"> O-
          <input type="radio" name="bloodType" value="AB+"> AB+
          <input type="radio" name="bloodType" value="AB-"> AB-
          <br>  <br />
          <label for="LastDonate">Has it been more than 56 days since you donate blood? (Note: Yes if you never have donated)</label>
          <br>
          <input type="radio" name="LastDonation" value="Yes"> Yes
          <input type="radio" name="LastDonation" value="No" required> No
          <br>  <br />
          <label for="BloodPressure">Blood Pressure(Systolic):</label>
          <br>
          <input type="number" name="Bp" size="50" class="form-control" step="any" required>
          <br>
          <label for="Iron">Iron level:</label>
          <br>
          <input type="number" name="Ir" size="50" class="form-control" step="any" required>
          <br>
          <label for="disease">Do you have any diseases?</label>
          <br>
          <input type="radio" name="Disease" value="Yes"> Yes
          <input type="radio" name="Disease" value="No" required> No
          <br>  <br>
          <label for="sick">Are you currently sick? ex) fever, cold, etc. </label>
          <br>
          <input type="radio" name="Sick" value="Yes"> Yes
          <input type="radio" name="Sick" value="No" required> No
          <br> <br>
          <label for="cancer">Do you currently or have you ever had cancer?</label>
          <br>
          <input type="radio" name="Cancer" value="Yes"> Yes
          <input type="radio" name="Cancer" value="No" required> No
          <br>
          <br />
          <label for="Direction">City:</label>
          <br>
          <input type="text" name="Direction" class="form-control"size="50" required>
          <br>
          <label for="Tattoo">Do you have any tattoos?</label>
          <br>
          <input type="radio" name="Tattoo" value="Yes"> Yes
          <input type="radio" name="Tattoo" value="No" required> No
          <br>
          <br />
          <label for="TattooDate">If yes, has it been a year since you got the tattoo?</label>
          <br>
          <input type="radio" name="Tattoo_Reply" value="Yes"> Yes
          <input type="radio" name="Tattoo_Reply" value="No"> No
          <input type="radio" name="Tattoo_Reply" value="NA" checked> NA
          <br>
          <br />
          <label for="Piercing">Do you have any piercings?</label>
          <br>
          <input type="radio" name="Piercing" value="Yes"> Yes
          <input type="radio" name="Piercing" value="No" required> No
          <br>
          <br />
          <label for="PiercingTime"> If yes, has it been a year since you got the Piercing?</label>
          <br>
          <input type="radio" name="Piercing_Reply" value="Yes"> Yes
          <input type="radio" name="Piercing_Reply" value="No"> No
          <input type="radio" name="Piercing_Reply" value="NA" checked> NA
          <br>
          <br />
          <label for="Medication">Medication?</label>
          <br>
          <input type="radio" name="Medication" value="Yes"> Yes
          <input type="radio" name="Medication" value="No" required> No
          <br>  <br />
          <label for="IV">Intravenous drug use?</label>
          <br>
          <input type="radio" name="IV" value="Yes"> Yes
          <input type="radio" name="IV" value="No" required> No<br>
          <br />
          <label for="STD">Do you have an STD?</label>
          <br>
          <input type="radio" name="STD" value="Yes"> Yes
          <input type="radio" name="STD" value="No" required> No
          <br>  <br />
          <label for="STD_name"> If yes, was it Syphillis or Gonorrhea and has it been a year since you have been treated?</label>
          <br>
          <input type="radio" name="STD_name" value="Yes"> Yes
          <input type="radio" name="STD_name" value="No"> No
          <input type="radio" name="STD_name" value="NA" checked> NA
          <br>  <br />
          <label for="pregnant">Are you currently pregnant?</label>
          <br>
          <input type="radio" name="Pregnant" value="Yes"> Yes
          <input type="radio" name="Pregnant" value="No" required> No
          <br>  <br />
          <label for="high-risk">Have you been involved on a high-risk job? ex) Prostitution?</label>
          <br>
          <input type="radio" name="HighRisk" value="Yes"> Yes
          <input type="radio" name="HighRisk" value="No" required> No
          <br>  <br />
          <label for="Travel">Have you travelled internationally?</label>
          <br>
          <input type="radio" name="Travel" value="Yes"> Yes
          <input type="radio" name="Travel" value="No" required> No
          <br>  <br />
          <label for="Travel_reply">If yes, has it been more than a year since you traveled?</label>
          <br>
          <input type="radio" name="Travel_reply" value="Yes"> Yes
          <input type="radio" name="Travel_reply" value="No"> No
          <input type="radio" name="Travel_reply" value="NA" checked> NA
          <br>  <br />


          </div>


          <input type="submit" name="submit" value="Submit" class="btn btn-success">



      </div>
</form>{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
                <strong>Success! </strong>
                <!-- { { message[1] }} -->
              </div>
  {% endif %}

  {% if "Error" in message[1]: %}
<div class="alert alert-warning">
                Please re-enter your information </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>
</body>
</html>
