<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Blood Donation Sign In</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<!-- Navigation Bar Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blood Donation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/check">Find Me a Location</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- Navigation Bar Code -->



<body>
<div class="container">
  <h2>Blood Donation Form</h2>
  <form action="/script.php" method="post" role="form">
      <!-- { { form.csrf }} -->
  <div class="form-group">
        <label for="Gender">Gender:</label>
         <input type="radio" name="gender" value="female">Female
        <input type="radio" name="gender" value="male">Male
      <input type="radio" name="gender" value="other">Other
<br>

  <label for="Age">Age:</label>
<input type="number" name="Age" size="50">
<br>
  <label for="Weight">Weight:</label>
<input type="number" name="Weight" size="50" step="0.01">
<br>
  <label for="BloodType">Blood Type:</label>
  <input type="radio" name="bloodType" value="A+">A+
<input type="radio" name="bloodType" value="A-">A-
<input type="radio" name="bloodType" value="B+">B+
<input type="radio" name="bloodType" value="O+">O+
<input type="radio" name="bloodType" value="O-">O-
<input type="radio" name="bloodType" value="AB+">AB+
<input type="radio" name="bloodType" value="AB-">AB-
<br>
<label for="LastDonate">How many days has it been since you last donated?</label>
<input type="number" name="LastDonation" size="50" >
<br>
<label for="BloodPressure">Blood Pressure:</label>
<input type="number" name="Bp" size="50" step="any">
<br>
<label for="Iron">Iron level:</label>
<input type="number" name="Ir" size="50" step="any">
<br>
<label for="disease">Disease:</label>
<input type="radio" name="Disease" value="Yes">Yes
<input type="radio" name="Disease" value="No">No
<br>
<label for="Disease_type">If yes, what is it?</label>
<input type="text" name="Disease_Reply" size="50"></td>
<br>
<label for="sick">Are you currently sick? ex) fever,cold and etc </label>
<input type="radio" name="Sick" value="Yes">Yes
<input type="radio" name="Sick" value="No">No
<br>
<label for="cancer">Cancer:</label>
<input type="radio" name="Cancer" value="Yes">Yes
<input type="radio" name="Cancer" value="No">No
<br>
<label for="Direction">Direction:</label>
<input type="text" name="Direction" size="50">
<br>
<label for="Tattoo">Tattoo:</label>
<input type="radio" name="Tattoo" value="Yes">Yes
<input type="radio" name="Tattoo" value="No">No
<br>
<label for="TattooDate">If yes, How many months since you got your last Tattoo?</label>
<input type="number" name="Tattoo_Reply" size="50">
<br>
<label for="Piercing">Piercing?</label>
<input type="radio" name="Piercing" value="Yes">Yes
<input type="radio" name="Piercing" value="No">No
<br>
<label for="PiercingTime"> If yes, how many months since you got your most recent piercing?</label>
<input type="number" name="Piercing_Reply" size="50">
<br>
<label for="Medication">Medication?</label>
<input type="radio" name="Medication" value="Yes">Yes
<input type="radio" name="Medication" value="No">No
<br>
<label for="IV">Intravenous drug use?</label>
<input type="radio" name="IV" value="Yes">Yes
<input type="radio" name="IV" value="No">No<br>
<label for="STD">Do you have a STD</label>
<input type="radio" name="STD" value="Yes">Yes
<input type="radio" name="STD" value="No">No</td>
<br>
<label for="STD_name"> If yes, what is it?</label>
<input type="text" name="STD_name "size="50">
<br>
<label for="pregnant">Are you currently pregnant?</label>
<input type="radio" name="Pregnant" value="Yes">Yes
<input type="radio" name="Pregnant" value="No">No
<br>
<label for="high-risk">Are you currently involved on a high-risk job? ex) Prostitution?</label>
<input type="radio" name="HighRisk" value="Yes">Yes
    <input type="radio" name="HighRisk" value="No">No
<br>
<label for="Travel">Have you Travel Internationally?</label>
<input type="radio" name="Travel" value="Yes">Yes
  <input type="radio" name="Travel" value="No">No
<br>
<label for="Travel_reply">If yes, how many months has it been since you left?</label>
<input type="number" name="Travel_reply2" size="50">
<br>
</div>

<button type="submit" class="btn btn-success">Submit</button>
</form>{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
                <strong>Success! </strong>
                <!-- { { message[1] }} -->
              </div>
  {% endif %}

  {% if "Error" in message[1]: %}
<div class="alert alert-warning">
                Please re-enter your information </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>
</body>
</html>
