<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  button{
    outline-color: #00CED1;
    outline-style: double;
  }


</style>



</head>
<!-- Navigation Bar Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blood Donation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/check">Find Me a Location</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navigation Bar Code -->



<body>
  <!-- <h1>  FAQ ...</h1> -->

<br><br>

<button onclick="myFunction('Q1')" class="w3-button w3-block w3-left-align">
Why Donate Blood?</button>

<div id="Q1" class="w3-container w3-hide">
<p> In one hour’s time, a person can donate one unit of blood that can be
  separated into four individual components that could help save multiple lives.
  From one unit of blood, red blood cells can be extracted for use in trauma or
  surgical patients. Plasma, the liquid part of blood, is administered to
  patients with clotting problems. The third component of blood, platelets,
  clot the blood when cuts or other open wounds occur, and are often used in
  cancer and transplant patients. Cryoprecipitated anti-hemophilic factor (AHF)
  is also used for clotting factors.
</p>
</div>

<button onclick="myFunction('Q2')" class="w3-button w3-block w3-left-align">
Who Needs Blood?</button>

<div id="Q2" class="w3-container w3-hide">
  <p>Everyday in the United States, about 36,000 units of red blood cells
    are needed in hospitals/emergency treatement facilities for patients with
    cancer and other diseases, for organ transplant recipients, and to help
    save the lives of people who suffered and accident or trauma. </p>
</div>

<button onclick="myFunction('Q3')" class="w3-button w3-block w3-left-align">
Are there age limits for blood donors?</button>

<div id="Q3" class="w3-container w3-hide">
  <p>Depending on your state, you must be at least 16 or 17 years old. </p>
</div>

<button onclick="myFunction('Q4')" class="w3-button w3-block w3-left-align">
How long does it take to donate blood?</button>

<div id="Q4" class="w3-container w3-hide">
  <p>Collecting the blood only takes around 10 minutes but the entire process typically takes about an hour.</p>
</div>

<button onclick="myFunction('Q5')" class="w3-button w3-block w3-left-align">
How often can I donate blood?</button>

<div id="Q5" class="w3-container w3-hide">
  <p>You can donate blood every 56 days.</p>
</div>

<button onclick="myFunction('Q6')" class="w3-button w3-block w3-left-align">
Is it safe to give blood?</button>

<div id="Q6" class="w3-container w3-hide">
  <p>Yes, donating blood is safe. All supplies used are sterile and only used
    once. </p>
</div>

<button onclick="myFunction('Q7')" class="w3-button w3-block w3-left-align">
Will it hurt when the needle is inserted?</button>

<div id="Q7" class="w3-container w3-hide">
<p>Only for a moment. The sensation is similar to the feeling of a slight pinch on your arm.</p>
</div>


<button onclick="myFunction('Q8')" class="w3-button w3-block w3-left-align">
What Makes a Person Ineligible to Donate?</button>

<div id="Q8" class="w3-container w3-hide">
  <p>Some examples of people who cannot donate include: </p>
<li>Anyone who has ever used needles to take drugs, steroids, or any substance
  not prescribed by a doctor </li>
<li> Anyone who has ever engaged in sex for money or drugs </li>
<li> Anyone who has had hepatitis since his or her eleventh birthday </li>
<li> Anyone who has recently gotten a tattoo </li>
<li> Anyone who has recently gotten a body piercing </li>
</div>


<button onclick="myFunction('Q9')" class="w3-button w3-block w3-left-align">
FAQ Sources</button>

<div id="Q9" class="w3-container w3-hide">
<li>http://www.aabb.org/tm/donation/Pages/whydonate.aspx</li>
<li>https://www.redcrossblood.org/faq.html </li>
</div>



<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
